* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  width: 100px; /* Example width */
  height: 100px; /* Example height */
}
